@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

.whole_page {
  background-color: #532b88;
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}

.page_title {
  color: #fff;
  margin-top: 1.5rem;
  display: flex;
  width: 90%;
  height: 3rem;
  align-items: center;
  justify-content: space-between;

  .logo {
    width: 10%;
    height: 100%;
    background-image: url("../../../../../assets/images/noBgColor.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;

    &:hover {
      cursor: pointer;
    }
  }
}

.card {
  display: flex;
  background-color: #fff;
  border-radius: 25px;
  height: 80%;
  width: 70%;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
  padding: 2rem;
}

.content_container {
  display: flex;
  width: 100%;
  overflow: scroll;
}

.inputs_container {
  font-family: "Noto Sans JP", sans-serif;
  display: flex;
  width: 60%;
  gap: 1.5rem;
  flex-direction: column;

  .url_field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: #8865b6;
    width: 100%;
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        font-size: large;
        font-weight: 700;
      }

      h3 {
        font-weight: 700;
      }
    }

    input {
      width: 75%;
    }
  }

  .color_field {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    color: #8865b6;
    width: 100%;
    .title {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      span {
        font-size: large;
        font-weight: 700;
      }

      h3 {
        font-weight: 700;
      }
    }

    input {
      width: 75%;
    }
  }
}

.result_container {
  border: 1px solid red;
  width: 40%;
}
