<div class="whole_page">

  <div class="page_title">

    <div class="logo">
    </div>

  </div>


  <div class="card">

    <div class="content_container">


      <div class="inputs_container">

        <div class="url_field">

          <div class="title">

            <span class="pi pi-link"></span>
            <h3>INSIRA SUA URL AQUI:</h3>

          </div>

          <input pInputText [(ngModel)]="url" type="text" pSize="large"
            placeholder="exemplo (https://www.google.com)" />

        </div>

        <div class="color_field">

          <div class="title">

            <span class="pi pi-palette"></span>
            <h3>COR</h3>

          </div>

        </div>

      </div>

      <div class="result_container">

      </div>

    </div>

  </div>


</div>
